.pop {
  width: 60px;
  height: 60px;
  top: 70px;
  right: 30px;
  border-radius: 50%;
  text-align: center;
  position: fixed;
}
.pop a {
  font-size: 30px;
  line-height: 50px;
}
.pop:hover {
  background-color: var(--gray);
}
.back {
  position: absolute;
  width: 100px;
  top: 5px;
  right: 50px;
  display: none;
  color: var(--black);
  font-size: 18px;
  font-weight: bold;
  z-index: 10;
}

.slide {
  display: block;
  animation: slide 0.5s;
}

@keyframes slide {
  from {
    top: 5px;
    right: 0;
  }
  to {
    top: 5px;
    right: 50px;
  }
}
