@import url("/css/variable.css");
@import url("/css/preloading.css");
@import url("/css/nav.css");
@import url("/css/pop.css");
@import url("/css/introduce.css");
@import url("/css/project.css");
@import url("/css/moviedesign.css");

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* Heading Font Size */
h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}

/* container */
.container {
  background-color: #fff;
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

header {
  background-color: #e2e2e2;
  height: 63px;
  width: inherit;
  border-radius: 10px 10px 0 0;
  position: relative;
}
.circle_wrap {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.circle {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-left: 5px;
}
.red {
  background-color: var(--red);
}
.yellow {
  background-color: var(--yellow);
}
.green {
  background-color: var(--green);
}

.title {
  width: 20%;
  height: 36px;
  background-color: #f9f9f9;
  text-align: center;
  line-height: 36px;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
