.introduce_page {
  display: flex;
  background-color: #f5f5f5;
  padding: 50px;
  /* margin:  auto; */
}
.left {
  width: 50%;
  margin-right: 25px;
}
.right {
  width: 50%;
}
.container {
  background-color: #fff;
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.header {
  background-color: #e2e2e2;
  height: 63px;
  width: inherit;
  border-radius: 10px 10px 0 0;
  position: relative;
}
.circle_wrap {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.circle {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 5px;
}
.red {
  background-color: #fd5b58;
}
.yellow {
  background-color: #fdbe3c;
}
.green {
  background-color: #23cc4b;
}

.title {
  width: 20%;
  height: 36px;
  background-color: #f9f9f9;
  text-align: center;
  line-height: 36px;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}

/* about */
.about {
  width: 100%;
  height: 950px;
  position: relative;
}
.content_about {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}
.content_about img {
  width: 470px;
  height: 470px;
  border-radius: 50%;
}
.content_about h1 em {
  font-style: normal;
  font-size: 40px;
  background-color: #3d96ff;
  color: #fff;
}

/* profile */
.profile {
  width: 100%;
  height: 300px;
  margin-bottom: 25px;
}

/* skills */
.skills {
  width: 100%;
  height: 250px;
  margin-bottom: 25px;
}

/* activity */
.activity {
  width: 100%;
  height: 350px;
}
li {
  border: 1px solid black;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.project_page {
  padding: 50px;
  background-color: #f5f5f5;
}
.project {
  width: 100%;
  height: 900px;
}
