/* Font Icon */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
/* Font Family */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

:root {
  /* font-family */
  --font: "Noto Sans KR", sans-serif;
  /* color */
  --red: #fd5b58;
  --yellow: #fdbe3c;
  --green: #23cc4b;
  --skyblue: #f6fcff;
  --blue: #3d96ff;
  --gray: #e2e2e2;
  --lightgray: #f9f9f9;
  /* font-color */
  --black: #3d3f40;
  --white: #fff;
}
